<!-- NAVBARS RESP + DESKTOP -->

<nav>
  <ul style="color: white; font-family: 'Fredoka'">
    <li id="logo" class="logo">
      <%= link_to root_path do %>
      <%= image_tag ('SVG/logoTW.svg'), style:"width: 100px;" %> 
      <% end %>
    </li>
    <a href="#partieConcept" style="text-decoration: none; color: white">
      <li class="button"> l'App </li>
    </a>
    <a href="#" style="text-decoration: none; color: white">
      <li class="button"> le Développement </li>
    </a>

    <a href="#" style="text-decoration: none; color: white">
      <li class="button"> Vlogs </li>
    </a>

    <a href="#Contact" style="text-decoration: none; color: white">
      <li class="button"> Contact </li>
    </a>
  </ul>
</nav>

<div class="responsive-nav" style="position: absolute; top:6%; z-index: 3">
<%= image_tag ('SVG/path_navFichier 19'), style:"position: absolute; top:0; z-index: 2; margin-left: 2em; left:-10%; width:40px;", class:"menu-path" %>
  <ul class="responsive-menu" style="font-family: 'Fredoka'">
    <p style="color:black; font-size: 1.3em;">🛥️ Menu</p>
    <a href="#partieConcept" style="text-decoration: none; color: white">
      <li class="button">📱 l'App </li>
    </a>
    <a href="#" style="text-decoration: none; color: white">
      <li class="button">💻 le Développement </li>
    </a>

    <a href="#" style="text-decoration: none; color: white">
      <li class="button">🗞️ Vlogs & Newsletter </li>
    </a>

    <a href="#Contact" style="text-decoration: none; color: white">
      <li class="button">📇 Contact </li>
    </a>
  </ul>
</div>

<!-- MAIN TITLE SLOGAN -->

<div id="alert"></div>
<div class="img-container" style="margin-top: 1em;">
  <div class="text-container">
    <h1 class="desktop-text" style="max-width:90%; margin: 0 auto; padding-right: 0.5em; color:white;">
      <p class="strong3">Rencontrez aujourd'hui
        vos
        amis de </p>
        <p class="strong3" style="margin-top:-0.8em; font-size: 1.5em;">demain.</p>
    </h1>
    <h1 class="desktop-text2"
        style="max-width:90%; margin: 0 auto; text-shadow: 5px 5px 1px #234547;">
      <p class="strong2">Rencontrez aujourd'hui
        vos
        amis de</p>
      <p class="strong">demain.</p>
    </h1>
      <div class="form-inputs">
        <div style="flex-direction: column;">
        <p style="font-family: 'Quantify'; font-size: 0.6em; font-weight: 100; margin-bottom: -0.2em; color:#233853; min-width: 300px;">S'inscrire à la newsletter 📩 </p>
        <%= form_for @user,  url: { controller: 'users', action: 'create' }, remote: true do |form| %>
          <%= form.text_field :email, class: 'head-input', placeholder: 'resterinformé@xyz.com' %>
        </div>
          <%= form.submit "Inscription →", class: "head-btn" %>
        </div>
      </div>
    <% end %>
  <div class="img-relative-container">
  <%= image_tag 'mockup2', class: "mockup2" %>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_rqo8mcum.json" background="transparent"
                   speed="0.9" class="intro-waves" loop autoplay></lottie-player>
  </div>
</div>

<!-- WAVES & SHAPES BACKGROUND -->

<div class="absolute-bg" style="position: absolute; top:-2%; min-width:101.5%; left:-0.8%;">
  <%= image_tag 'SVG/desktop-waves-cover3Fichier 38',class:"desktop-waves", style:"position:absolute; z-index:-4; top:0; right: 0; height:auto;"%>
</div>

<div class="absolute-bg" style="position: absolute; top:-2%; min-width:103.3%; left:-1.1%;">
  <%= image_tag "SVG/linesFichier 46", class:"responsive-waves", style:"position:absolute; z-index:-4; top:0; " %>
</div>

<!-- APP EN DEVELOPPEMENT -->
    <div class="form-inputs-responsive">
      <p style="font-family: 'Quantify'; font-size: 1.4em; font-weight: 100; margin-bottom: -0.2em; color:#233853; min-width: 300px;">S'inscrire à la newsletter 📩 </p>
      <%= form_for @user,  url: { controller: 'users', action: 'create' }, remote: true do |form| %>
        <%= form.text_field :email, class: 'head-input', placeholder: 'resterinformé@xyz.com' %>
        <%= form.submit "Inscription →", class: "head-btn" %>
        <% end %>
  </div>

<div class="card">
  <h2 class="defiling"
      style="font-family: 'Fredoka'; font-weight:300; margin-left: 2.5em; color: black; font-size:1.6em; margin-right: 2em;">
    APPLICATION
    EN
    COURS
    DE...<br>
    <div class="scroller" style="font-weight: 600; font-family: 'Fredoka';">
                <span>
                    DÉVELOPPEMENT ⚠️<br>
                    CRÉATION ⚠️<br>
                    CONCEPTION ⚠️<br>
                    CONSTRUCTION ⚠️<br>
                </span>
    </div>
  </h2>
</div>

<!-- CARROUSSEL -->

<h1 class="title-text" style="max-width: 80%; margin: auto; text-align: center;"><span class="under-line" style="margin-bottom: 12em;">l'app qui vous crée des amis.</span> </h1>
<div class="swiper" style="display: flex; justify-content: center; margin: auto;">
  <%= image_tag 'SVG/MOCKUP_testFichier 15.svg', style:"max-width: 260px; margin-top: 3em" %>
</div>
<!-- CONTENT 1 -->

<%#
<p class="content-text" style="color: black; text-align:center"><strong> Bonjour à tous, </strong>
 vous qui nous lisez ! <br><br> Nous sommes <strong>Clément </strong>et
  <strong>Nicolas</strong>, deux
  développeurs passionés par la tech, le design et l'entreprenariat. Vous pourrez apprendre à nous connaître un peu plus bas mais
  avant cela, laissez-nous vous présenter Origami...
</p><br><br> %>

<div class="between-container" style="margin-bottom: 1em; margin-top: 2em;">
    <h1 class="title-text" id="partieConcept"> <span class="under-line">A qui
      s'adresse Origami ? 🤔 </span></h1>
  </div>

<div class="third-container">
  <ul class="content-text" id="responsive-partie">
    <h2>Vous venez de...</h2>
    <li style="padding-bottom: 0.4em;">Changer de ville pour une <strong>opportunité professionelle,</strong>
    </li>
    <li style="padding-bottom: 0.4em;">Déménager pour la poursuite de vos études, </li>
    <li style="padding-bottom: 0.4em;">Vivre une période de grand <strong>changement</strong> dans votre vie ?
    </li>
  </ul>
  <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_WAMQ5G.json" background="transparent"
                 speed="1" style="max-width: 260px; min-width: 200px;" loop autoplay></lottie-player>
</div>

<div class="fourth-container" >
  <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_wloxwco0.json" background="transparent"
                 speed="1" class="phone-msg" style="max-width: 350px; min-width: 250px;" loop autoplay></lottie-player>
  <ul class="content-text" id="responsive-partie">
    <h2>...et souhaitez naturellement...</h2>
    <li style="padding-bottom: 0.4em;">Agrandir votre <strong>cercle d'amis</strong> au-delà de votre milieu
      professionnel ou universitaire ?
    </li>
    <li style="padding-bottom: 0.4em;">Rencontrez des personnes ayant les <strong>mêmes centres
    </strong>d'intérêt que vous ?</li>
    <li style="padding-bottom: 0.4em;">Eviter de passer par des apps de rencontre <strong>où drague et
      amitié se confondent...</strong>
    </li>
  </ul>
</div>

<div class="between-container" style="margin-bottom: 1em; margin-top: 1em;">
  <h2
      class="title-text"> <span class="under-line">
    ... alors
    Origami est pour vous ! </span> </h2>
</div>


<div class="fifth-container">
  <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_z0jt5alc.json" background="transparent"
                 speed="1" style="max-width: 900px; height: 300px;" class="astronomie" loop autoplay></lottie-player>
  <ul class="content-text">
    <h2 class="fonctionnement" style="font-family: 'Quantify';"> Et le fonctionnement Jamy ?
      &#128512; </h2>
    <li style=" padding:0.5em;"> <strong>Vous vous inscrivez en quelques swipes</strong> pour renseigner vos
      centres d'intérêt,
      votre personnalité et les
      infos dont l'app a besoin (principalement <strong>la ville</strong> où vous souhaitez rencontrer du
      monde, votre âge et
      votre genre),</li>
    <li style="padding:0.5em;">L'app organise des <strong>groupes</strong> de conversation virtuelle en
      fonction
      de votre personnalité et centres d'intérêt, comme sur une messagerie classique, à quelques détails
      près... 😏
    </li>
  </ul>
</div>

<div class="fifth-container" style="margin-top:-1em;">
  <ul class="content-text">
    <li style="padding:0.5em;"><strong>Notre algorhitme vous inclut </strong> dans un groupe de 5 personnes
      (dont vous), prêts
      à discuter et à vous
      rencontrer dans une même ville ! </li>
    <li style="padding:0.5em;"><strong>'Combo' le Robot</strong> vous aide à
      <strong> briser la
        glace </strong>
      lors
      des premiers échanges ! En effet, ce robot connaît tous les points communs du groupe et il s'en amusera
      pour stimuler la conversation... <strong>plutôt cool</strong> non ?
    </li>
    <li style="padding:0.5em;">En
      plus, il vous accompagnera dans votre conversation en <strong>indiquant des évènements dans votre
      ville
    </strong>liés aux
      centres d'intérêt du groupe !</li>
  </ul>
  <%= image_tag 'mockup_origami', style: "width: 180px;", class: "spinning-mockup" %>
</div>

      <%# <a href="#Formulaire" class="global-reminder" style="display: flex; text-decoration: none; margin: 0 auto; max-width: 80%; font-size: 1.8em; text-align: center; flex-direction:column; margin-top: 1em; align-items: center; color: black; font-weight: 100; font-family: 'Fredoka'"><li style="display: flex; flex-direction:column; align-items: center;"><%= image_tag('https://upload.wikimedia.org/wikipedia/commons/4/4e/Mail_%28iOS%29.svg', class: "footer-img", style: "width:80px; color:white")%> S'inscrire à la newsletter pour rester informé ! </li></a>

<%# <div class="between-container">
<p class="title-text"><span class="under-line">
  Objectif final : </span>
</div>

<div class="second-container" style="display: flex; max-width: 80%; margin: 0 auto; margin-top: -1em;">
  <div class="second-container" style="flex-direction: column; justify-content: center;">
    <p class="content-text" style="margin-bottom: 1em;">
      Que le
      groupe passe d'une
      conversation
      digitale à ... </p>

    <p class="title-text" id="rencontre">
      <strong>une rencontre in real life !
      </strong>
    </p>

    <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_llpflzsi.json"
                   background="transparent" speed="1" style="max-width: 500px;" loop autoplay></lottie-player>

    <p class="content-text" style="margin-bottom: 3em;"> Souscrivez à la <a href="#Formulaire" style="text-decoration:none; color:black;"><strong>Newsletter</strong></a>, aux réseaux sociaux et à la
      chaîne YouTube pour rester
      informés
      !
    </p>

  </div>
</div> %> s

      <%# <li class="global-reminder" style="display: flex; flex-direction:column; margin: 0 auto; margin: 0 auto; max-width: 80%;text-align: center; max-width: 80%;text-align: center;  align-items: center; color: black; font-weight: 100; font-size: 1.8em; font-family: 'Fredoka'"><%= link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png', class: "footer-img", style: "width: 80px"), "https://www.youtube.com/channel/UC1ZpnwNF2hdMXw6Zibk9b8g" %> Rejoindre l'aventure sur YouTube ! </li> %>

<div class="first-container">
  <h2 style="font-size: 1.8em;">Vous ne passerez plus un vendredi soir sans bonne compagnie.</h2>
  <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_6aYlBl.json" background="transparent"
                 speed="1" style="position: relative; max-width: 500px;" loop autoplay></lottie-player>
  <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_3ki8odep.json" background="transparent"
                 speed="1" style="position: absolute; z-index: -2; opacity: 0.8;" loop autoplay>
  </lottie-player>
</div>


<%# <div class="between-container">
  <h2 id="Dev" class="title-text"><span class="under-line">Le développement de l'app</span></h2>
</div>
<div class="content-text" style="">
  <div class="x3container" style="margin-top: 2em; margin-bottom: 1em">
    En arrivant à <strong>Lyon,</strong> nous nous sommes rendus compte d'une problématique autour de la
    création du
    lien social et
    de la rencontre amicale dans sa globalité.
    Après beaucoup
    d'échanges autour du sujet avec notre entourage, nous en arrivons à cette <strong>conclusion :</strong>
    Les
    nouveaux
    arrivants des grandes villes rencontrent des difficultés à rencontrer de nouvelles personnes et donc...
    à se
    faire de <strong>nouveaux
    amis</strong> en dehors du cadre professionnel. <br><br>
    Cependant, les arrivants des grandes villes
    ne
    sont
    pas les
    seuls
    concernés
    par
    la <strong>problématique.</strong><br></br>
    En approfondissant le sujet, nous trouvons d'autres cas de figure
    où Origami pourrait <strong>être utile.</strong> Nous pensons donc aux étudiants qui changent de ville
    pour
    poursuivre
    leurs études ainsi
    qu'aux personnes en période d'intense changement de cercle social. A l'heure où les couples qui se
    créent
    autour
    de nous se font grâce aux applications de rencontre, nous entamons une première réflexion sur le sujet
    avec
    cette idée d'app destinée à la rencontre amicale.<br><br>

    Après une <strong>première version</strong> de l'application développée lors d'un bootcamp intensif,
    nous
    faisons une
    pause autour de la réflexion de Origami pour se consacrer à diverses missions free-lance.
    <p>L'idée a bien grandi depuis et notre réflexion a mûri, le temps nécessaire pour réfléchir aux <strong>technologies</strong> (les stacks, en langage IT) à utiliser. Au-delà des technologies, nous avons également réfléchi aux façons dont nous pourrions <strong>communiquer</strong> autour du projet. Nous avons retenu quelques inspirations... </p>
  </div>
        <li class="global-reminder" target="_blank" style="max-width: 80%; margin: 0 auto; text-align:center; margin-top: 2em;display: flex; flex-direction:column; align-items: center; font-weight: 100;"><%= link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png', class: "footer-img", style: "width:80px", target: "_blank"), "https://www.instagram.com/origamiapplication/" %> Suivre l'aventure sur Instagram ! </li>
<%# </div>  %>

<%# <div class="between-container">
  <h2 class="title-text" id="V&N"><span class="under-line">
    Les Vlogs </span></h2>
</div>

<div class="content-text" style="margin-top: 1.5em;">
  Une fois la bonne organisation de travail mise en place, nous commençons
  maintenant la structuration et le code de l'app. Nous nous engageons à tenir un <strong>journal de bord
</strong>sous
  forme de Vlog, disponibles sur notre chaîne YoutTube
  afin de tenir les intéréssés au courant.</div>
<h2
  style="max-width:80%; text-align: center; margin: 0 auto; color:black; font-family: 'Fredoka'; font-size:2em; margin-top:1.2em; margin-bottom:-0.8em;">
  Dans cette série de vlogs, nous
  parlerons
  notamment : </h2>
  <p class="content-text" style="padding-top: 1em; margin-bottom: 2em;"> De<strong> l'entreprenariat,</strong> des problématiques marketing, de communication, de
    tech, de dev, de <strong>programmation,</strong> de code... Nous raconterons quelques <strong>petites blagues </strong> car nous
    sommes
    des
    polissons, 🐳 Au-delà des sujets abordés, vous vivrez avec nous une
    <strong>immersion totale
    </strong> dans la conception du
    projet
    !
  </p>
  <a href="https://www.youtube.com/channel/UC1ZpnwNF2hdMXw6Zibk9b8g/videos" target="_blank">
<div id="Vlogs" class="random-container-yt">
    <%=image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png', class:"youtube-img"%>
<%# </div>
  </a>
<div class="content-text" style="margin-top: 2em; margin-bottom:0.5em;">
  En Mars 2022, nous entamons les préparatifs (charte
  graphique, logo, problématiques tech, machine learning, etc.) du
  développement de l'app pour entamer la conception en Avril 2022.<br></br>
  Pour <strong>nous soutenir </strong>dans le développement et nous soumettre
  vos remarques, nous
  mettons à la disposition de tous un formulaire ainsi qu'une <strong> newsletter </strong> afin de rester
  informé. Vous pourrez également nous indiquer tout ce que vous pensez de notre concept. Chaque retour
  sera lu et pris en compte !<br></br>
  Nous cherchons également des <strong>bêta-testeurs</strong> afin de tester
  l'application dans des conditions réelles. Si vous souhaitez rejoindre cette équipe de bêta-testing,
  vous pourrez le préciser dans le
  formulaire en cochant la case dédiée.
</div> %>

<div class="between-container" style="margin-top: 1.5em; margin-bottom: 1.5em;">
  <h2 id="Contact" class="title-text"> <span class="under-line"> Derrière Origami... </span>
  </h2>
</div>

<div class="img-container-head">
  <div class="head-container">
  <%= image_tag 'head_clement', class:'head' , style:"background-color: #5bbdff; border-radius: 50%; padding: 1.2em; padding-right: 3em; padding-left: 3em; width: 145px;" %>
    <p class="text" style="font-family:'Fredoka'; text-align: center;"> <strong>Clément Sapt </strong><br>
      Co-founder & CTO <br>
      contact@origami-app.fr </p>
  </div>
  <div class="head-container">
  <%= image_tag 'nico_head', class:"head", style:"background-color: #fffd70; border-radius: 50%; padding: 1.2em; padding-right: 3em; padding-left: 3em; width: 160px;" %>
    <p class="text" style="font-family:'Fredoka'; text-align: center;"><strong>Nicolas Mercier </strong><br>
      Founder & CEO <br>
      contact@origami-app.fr </p>
  </div>
</div>

<div class="content-text">
  Après s'être rencontrés lors d'un Bootcamp intensif (Le Wagon) à Lyon fin 2021, Clément Sapt et Nicolas
  Mercier
  se lient
  d'amitié
  autour d'une passion commune : le développement, le design et le produit. <br>
  C'est <strong>Clément</strong> qui se chargera de la partie back-end du projet.
  Avec un solide background
  en programmation
  web et software ainsi qu'un passage à l'école 42, il excelle dans la gestion de la data et
  l'algorhitmie. <br>
  Quant à <strong>Nicolas</strong>, après s'être vu diplomé d'un Master en
  Marketing & Communication, il décide d'ajouter une corde à son arc et découvre le développement web
  pendant le bootcamp au Wagon. Doté de solides expériences professionnelles en développement web, design
  UX/UI & animation, il a l'idée de l'application en parlant au cercle d'étudiants en reconversion
  rencontrés au Wagon. <br><br>
  Pour <strong>soutenir le projet,</strong> abonnez-vous à la chaîne Youtube, aux réseaux sociaux et
  inscrivez-vous à la newsletter
  !
</div>

<div class="footer" style="max-height: fit-content; margin-top: 2em; ">
    <div class="footer-list" style="color:white; font-weight:400">
      <a href="#logo" style="margin-top: 2em;text-decoration: none;"><li style="display: flex; flex-direction:column; align-items: center;"><%= image_tag('SVG/logoTW', class: "footer-img", style: "width:120px")%> </li></a>
      <li style="margin-top: 2em; display: flex; flex-direction:column; align-items: center;"><%= link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/YouTube_social_white_squircle.svg/1200px-YouTube_social_white_squircle.svg.png', class: "footer-img", style: "width: 50px", :target => "_blank"), "https://www.youtube.com/channel/UC1ZpnwNF2hdMXw6Zibk9b8g" %> YouTube</li>
      <li style="margin-top: 2em;display: flex; flex-direction:column; align-items: center;"><%= link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png', class: "footer-img", style: "width:50px"), "https://www.instagram.com/origamiapplication/", :target => "_blank" %> Instagram</li>
      <a href="#Formulaire" style="margin-top: 2em;text-decoration: none; color: white;"><li style="display: flex; flex-direction:column; align-items: center;"><%= image_tag('https://upload.wikimedia.org/wikipedia/commons/4/4e/Mail_%28iOS%29.svg', class: "footer-img", style: "width:50px; color:white")%> La newsletter</li></a>
      <li style="margin-top: 2em;display: flex; flex-direction:column; align-items: center;"><%= link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Facebook_F_icon.svg/2048px-Facebook_F_icon.svg.png', class: "footer-img", style: "width:50px; border-radius: 5px;"), "https://www.facebook.com/origamiapplication/", :target => "_blank" %> Facebook </li>
      <li style="margin-top: 2em;display: flex; flex-direction:column; align-items: center;"><%= link_to image_tag('https://files.helpdocs.io/zqc32mkmew/other/1608127986258/ideogram.png?t=1608127986258', class: "footer-img", style: "width:50px"), "https://lydia-app.com/collect/7799-orig-ami/fr", :target => "_blank" %> Nous soutenir </li>
    </div>
    <p class="backyard" style="text-align:center; margin-bottom:0.2em;">Origami 2022, tous droits réservés.</p>
</div>
