<nav>
    <ul style="color: white; font-family: 'Fredoka'">
        <li id="logo" class="logo"> <%= image_tag ('SVG/logoTW.svg'), style:"margin:0 auto; margin-left: 2em; width: 100px;" %></li>
    </ul>
</nav>

<div class="responsive-nav" style="position: absolute; top:6%; z-index: 3">
  <%= image_tag ('SVG/path_nav.svg'), style:"position: absolute; top:0; z-index: 2; margin-left: 2em; left:-10%; width:40px;", class:"menu-path" %>
</div>

<!-- MAIN TITLE SLOGAN -->

<div class="img-container" style="margin-top: 1em;">
    <div class="text-container">
        <h1 class="desktop-text" style="max-width:90%; margin: 0 auto; padding-right: 0.5em; color:white;">
            <p class="strong3"> Vous avez bien été désinscrit de la newsletter Origami.</p>
        </h1>
        <h1 class="desktop-text2"
            style="max-width:90%; margin: 0 auto; text-shadow: 5px 5px 1px #234547;">
            <p class="strong2">Vous avez bien été désinscrit de la newsletter Origami.</p>
        </h1>
    </div>
</div>

<div class="content-text" style="text-align:center;">
    <a href="<%= root_path %>" style="text-decoration:none;"><div class="newsletter-button"
                                                                        style="background: linear-gradient(#167FFB, #0F60C4); color:white; font-family:'Quantify'; width: fit-content; margin: 0 auto;padding: 8px 24px; border-radius: 4px;">
      Retour au Site</div></a>
</div>


<!-- WAVES & SHAPES BACKGROUND -->

<div class="absolute-bg" style="position: absolute; top:-2%; min-width:102%; left:-1%;">
  <%= image_tag 'SVG/desktop-waves-cover3Fichier 38.svg',class:"desktop-waves", style:"position:absolute; z-index:-4; top:0; right: 0; height:auto;"%>
</div>

<div class="absolute-bg" style="position: absolute; top:-2%; min-width:103.3%; left:-1.1%;">
  <%= image_tag "SVG/linesFichier 46.svg", class:"responsive-waves", style:"position:absolute; z-index:-4; top:0; " %>
</div>
